.heading-div {
    margin: auto;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

/* .container {
    margin: auto;
    background-color: lightgrey;
    width: 450px;
    height: 250px;
    border: grey 3px solid;
    border-radius: 50px;
}

.inside-container {
    margin: 20px;
}
 */